{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block main %}
<!-- Plus tar on essaierra d'intégrer un formulair de notation sur page -->
{# <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form> #}
<table class="table table-dark text-center">
  <thead>
    <tr>
      <th scope="col">date</th>
      <th scope="col">type</th>
      <th scope="col">auteur</th>
      <th scope="col">Evaluer</th>
      <th scope="col">Voir</th>
    </tr>
  </thead>
  {% for movie in movies %}
  <tbody>
    <tr>
      <td>{{ movie.title }}</td>
      <td>{{ movie.releaseYear|date("Y-m-d") }}</td>
      <td>{{ movie.type }}</td>
      <td>{{ movie.author }}</td>
      <td><a href="{{path("evaluation_id", {"id" : movie.id})}}" class="btn btn-primary">Evaluer</a></td>
      <td><a href="{{path("single_id", {"id" : movie.id})}}" class="btn btn-primary">Voir</a></td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}
