{% extends 'layout.html.twig' %}
{% block title %}Profil{% endblock %}

{% block pageTitle %} 
  {# <div class="text-center my-4">
    {{ user.name }} 
  </div> #}
{% endblock %}

{% block main %}
<div class="container d-flex justify-content-center flex-wrap" >
{% for eval in evals %}
<div class="card my-2 m-3" style="width: 18rem;">
    <img class="card-img-top" src="https://lorempixel.com/540/370/">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Note : {{ eval.grade }}</p>
    <p class="card-text">Commentaire : {{ eval.comment }}</p>
      <a href="{{path("update.eval", {"id" : eval.id})}}" class="btn btn-primary">Modifier</a>
  </div>
</div>
{% endfor %}
</div>
<div class="text-center my-4">
  <a href="{{path("index")}}" class="btn btn-primary">Voir tout les films</a>
</div>
{% endblock %}