{% extends 'layout.html.twig' %}
{% block title %}Single{% endblock %}

{% block pageTitle %} 
  <div class="text-center my-4">
    {{ movie.title }} 
  </div>
{% endblock %}

{% block main %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="image du film {{ movie.title }} ">
</div>

<table class="table table-dark text-center">
  <thead>
    <tr class="bg-warning">
      <th scope="col" class="w-50">Les pires notes</th>
      {% for worstEval in worstEvals %}
        <td>{{ worstEval.grade }}</td>
      {% endfor %}
    </tr>
     <tr>
      <th scope="col" class="w-50">Les meilleurs notes</th>
      {% for bestEval in bestEvals %}
         <td>{{ bestEval.grade }}</td>
      {% endfor %}
    </tr>
    <tr>
      <th scope="col" class="w-50">Synopsis</th>
      <th scope="col">date</th>
      <th scope="col">type</th>
      <th scope="col">auteur</th>
      <th scope="col">note moyenne</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ movie.sumary }}</td>
      <td>{{ movie.releaseYear|date("Y-m-d") }}</td>
      <td>{{ movie.type }}</td>
      <td>{{ movie.author }}</td>
      <td>{{ movie.getAverage() }}</td>
    </tr>
  </tbody>
</table>
<div class="text-center my-4">
  <a href="{{path("index")}}" class="btn btn-primary">Voir tout les films</a>
</div>
{% endblock %}
